/**
 * @file
 * Styles are organized using the SMACSS technique. @see http://smacss.com/book/
 *
 * When you turn on CSS aggregation at admin/config/development/performance, all
 * of these @include files will be combined into a single file.
 */

/* Import Sass mixins, variables, Compass modules, etc. */
@import "init";

/* HTML element (SMACSS base) rules */
@import "normalize";

/* Layout rules */
@import "layouts/responsive";

/* Component (SMACSS module) rules */
@import "components/misc";
// Optionally, add your own components here.
@import "print";

/* SMACSS theme rules */
/* @import "theme-A"; */
/* @import "theme-B"; */

body {
  background-color: #96c390;
}

.header {
  background-color: #bd90d4;
}
#main-menu{
  background-color: #90B8D4;
    li{
      background-color: #79695E;
      margin: 2px;
      padding: 5px;
      border-radius: 4px;
    }
}
.project-row{
  background-color: #90B8D4;
  border-radius: 8px;
  margin: 5px;
  padding: 5px;
  text-align: center;
}
.brown-title{
  color: #59493E;
  text-align: center;
}

#quickview-ajax-wrapper{
    background-color: #79695e;
    border-radius: 8px;
    padding: 10px;
}
