/**
 * @file
 * Styles are organized using the SMACSS technique. @see http://smacss.com/book/
 *
 * When you turn on CSS aggregation at admin/config/development/performance, all
 * of these @include files will be combined into a single file.
 */

/* Import Sass mixins, variables, Compass modules, etc. */
@import "init";

/* HTML element (SMACSS base) rules */
@import "normalize";

/* Layout rules */
@import "layouts/responsive";

/* Component (SMACSS module) rules */
@import "components/misc";
// Optionally, add your own components here.
@import "print";

/* SMACSS theme rules */
/* @import "theme-A"; */
/* @import "theme-B"; */

body {
  background-color: #96d490;
}

.header {
  background-color: #CE90d4;
}

.project-row{
  background-color: #90B8D4;
  border-radius: 8px;
  margin: 5px;
  padding: 5px;
  text-align: center;
}
.brown-title{
  color: #59493E;
  text-align: center;
}
